*{
  background-color: lightblue;
}
h1{
  font-family: 'Dancing Script', cursive;
  background-color: pink;
  background-size: width:300px height:100px;
  margin-left: 600px;
  margin-right: 600px;
  text-shadow: 2px 2px white
}

.centerpicture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

img {
  margin: 7px;
  padding: 10px;
}
